{{ define "CNavbar" }}
<nav class="px-6 py-3 flex items-center justify-between bg-gray-900">
    <!-- Left -->
    <div>
        <!-- Logo (kind of) -->
        <span class="font-bold uppercase">oxigen</span> |
        <span class="text-xs">og:image generator</span>
    </div>
    <!-- Right -->
    <div class="flex items-center gap-x-4">
        <a href="/generator">Generator</a>
        <a href="/api">API</a>
        <a href="#" class="{{ template `css.a.clean` }}">sr.ht</a>
    </div>
</nav>
{{ end }}
