{{ define "CGenerator" }}
<form action="" method="GET" class="flex justify-between">
    <!-- Parameters column -->
    <div class="w-1/2 flex flex-col gap-2">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ .Query.Title }}" placeholder="Title ..." class="input input-block">
        <label for="author">Author</label>
        <input type="text" name="author" value="{{ .Query.Author }}" placeholder="Author ..." class="input input-block">
        <label for="website">Website</label>
        <input type="text" name="website" value="{{ .Query.Website }}" placeholder="Website ..." class="input input-block">
        <label for="logo">Logo (url)</label>
        <input type="text" name="logo" value="{{ .Query.Logo }}" placeholder="Logo image ..." class="input input-block">
        <label for="background">Background (url)</label>
        <input type="text" name="background" value="{{ .Query.Background }}" placeholder="Background image ..." class="input input-block">
        <details>
            <summary class="py-2">Advanced settings</summary>
            <div class="flex flex-col gap-2">
                <label for="width">Width</label>
                <input type="number" name="width" step="1" value="{{ or .Query.Width 1200 }}" class="input">
                <label for="width">Height</label>
                <input type="number" name="height" step="1" value="{{ or .Query.Height 628 }}" class="input">
                {{ template "settings.font" (compose 
                    "Name" "title" 
                    "Font" (or .Query.TitleFont "OpenSans-SemiBold.ttf") 
                    "Size" (or .Query.TitleFontSize 80)
                ) }}
                {{ template "settings.font" (compose 
                    "Name" "author" 
                    "Font" (or .Query.AuthorFont "OpenSans-SemiBold.ttf") 
                    "Size" (or .Query.AuthorFontSize 50)
                ) }}
                {{ template "settings.font" (compose 
                    "Name" "website" 
                    "Font" (or .Query.WebsiteFont "OpenSans-Light.ttf") 
                    "Size" (or .Query.WebsiteFontSize 50)
                ) }}
                <label for="dim">Background dim</label>
                <input type="range" name="background.dim" value="{{ .Query.BackgroundDim }}" min="0" max="255">
                <label for="overlay">Background overlay (dark frame in the center)</label>
                <input type="checkbox" name="background.overlay" value="true" {{ if .Query.BackgroundOverlay }} checked {{ end }} class="checkbox">
            </div>
        </details>
        <div>
            <button class="btn btn-outline-primary">Apply</button>
        </div>
    </div>
    <!-- Preview -->
    <div class="w-1/2 pl-4 pt-8 flex flex-col gap-2">
        <img src="{{ .Image }}" alt="og" class="rounded-xl">
        <div>
            <button class="btn btn-primary" type="button" onclick="navigator.clipboard.writeText(`${window.location.host}{{ .Image | js }}`)">Copy og:url</button>
        </div>
    </div>
</form>
{{ end }}
