{{- /*gotype: start.local.PAPIState*/ -}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oxigen Generator</title>
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="stylesheet" href="/static/css/bundle.min.css">
</head>
<body class="{{ template `css.body` }}">
    {{ template "CNavbar" }}
    <div class="mt-14 max-w-screen-lg mx-auto">
        {{ range .Routes }}
            <div>
                <p>
                    <span class="font-bold">{{ .Method }}</span> 
                    <span class="underline">{{ .Path }}</span> -
                    <span>{{ .Help }}</span>
                </p>
                <p class="mt-2">
                    Query parameters:
                    <table>
                        {{ range .Query }}
                        <tr>
                            <td class="underline">{{ .Name }}</td>
                            <td class="pl-2">
                                <span>- ({{ .Type }}) {{ .Help }}</span>
                                {{ if .Default }}
                                    <span>(default {{ .Default }})</span>
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    </table>
                </p>
            </div>
        {{ end }}
    </div>
    {{ client }}
    <script src="/static/js/bundle.min.js"></script>
</body>
</html>
