{{- /*gotype: start.local.PGeneratorState*/ -}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oxigen Generator</title>
    <link rel="shortcut icon" href="/assets/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <link rel="stylesheet" href="/assets/css/bundle.min.css">
</head>
<body>
    {{ template "CNavbar" }}
    <div class="mt-14 max-w-screen-lg mx-auto">
        {{ template "CGenerator" await .Generator }}
    </div>
    {{ client }}
    <script src="/assets/js/bundle.min.js"></script>
</body>
</html>
