{{- /*gotype: start.local.PIndexState*/ -}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oxigen Generator</title>
    <link rel="shortcut icon" href="/assets/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <link rel="stylesheet" href="/assets/css/bundle.min.css">
</head>
<body>
    {{ template "CNavbar" }}
    <div class="max-w-screen-lg mx-auto pt-24 text-center">
        {{ template "logo" "mx-auto w-32 h-32 fill-primary" }}
        <h1 class="mt-4 text-4xl font-bold">Oxigen</h1>
        <h2 class="mt-2 font-light max-w-lg mx-auto">
            Social media image generator.
            Programatically (and dynamically) generate social media images with UI or API.
        </h2>
        <div class="mt-4">
            <a href="{{ template `href.generator.default` }}" class="btn btn-primary">
                Try out
            </a>
        </div>
    </div>
    {{ client }}
    <script src="/assets/js/bundle.min.js"></script>
</body>
</html>
